<footer id="footer" class="text-white bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <h5>Adopt</h5>
            <ul class="footer-list">
              <a routerLink="/dogs" routerLinkActive="active">
                <li>Dogs</li>
              </a>
              <a routerLink="/cats" routerLinkActive="active">
                <li>Cats</li>
              </a>
              <a href="#!">
                <li>Application</li>
              </a>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Get Involved</h5>
            <ul class="footer-list">
              <a href="#!">
                <li>Donate</li>
              </a>
              <a href="#!">
                <li>Events</li>
              </a>
              <a href="#!">
                <li>Volunteer</li>
              </a>
              <a href="#!">
                <li>Foster a Pet</li>
              </a>
              <a href="#!">
                <li>Become a Sponsor</li>
              </a>
              <a href="#!">
                <li>Start a Fundraiser</li>
              </a>
            </ul>
          </div>
          <div class="col-md-4 mb-3">
            <h5>Contact</h5>
            <address>
              <i class="fas fa-map-marker-alt"></i> 123 Main Street | Pittsburgh
            </address>
            <p>
              <i class="fas fa-phone"></i> (412) 555-5555</p>
            <i class="fas fa-envelope"></i>
            <a href="#!" class="email-link">hello@test.com</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Subscribe</h5>
        <p>
          The latest news, articles, and resources, sent straight to your inbox every month.
        </p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </form>

        <div class="social-container">
          <div class="social-container-body">
            <div class="row">
              <div class="col-3">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="col-3">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
              <div class="col-3">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="col-3">
                <a href="#">
                  <i class="far fa-envelope-open"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>