@import "../app.component.scss";

/* ***** BEST FRIEND STYLES ***** */
#best-friend-hero {
  background-image: url("../../assets/img/best-friend.jpg");
  /* Add Photo Credit: Photo by Eric Ward on Unsplash */
  /* https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80 */
  background-position: bottom;
  background-size: cover;
  height: 95vh;
  position: relative;

  .best-friend-container {
    position: absolute;
    top: 50%; /* This is 50% of the height of the parent element */
    left: 50%; /* This is 50% of the width of the parent element */
    transform: translate(-50%, -50%);
    /* This is 40% for y coordinate and 50% for the x coordinate in relation to the element and not the element's parent */

    .best-friend-header {
      color: $color-white;
      text-transform: uppercase;

      .best-friend-main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 15px;
        text-align: center;
      }
    }
  }
}
