@import "../../app.component.scss";

.form-control.ng-touched.ng-invalid {
  border: 1px solid #a94442;
}

.form-model-group {
  border: 1px solid #eee;
  padding: 1em;
  margin-bottom: 1em;
}

.error {
  color: #a94442;
}

.donate {
  background-color: $color-dark-cyan;
  color: #fff;

  &:hover {
    background-color: $color-dark-cyan-hover;
  }
}
