@import "../../app.component.scss";

/* ***** CONTACT US STYLES ***** */
#contact-us {
  background-color: #e4856d;
  color: $color-white;
  padding: 3em;
  text-align: center;
}

/* ***** PARTNERS STYLES ***** */
#partners {
  background-color: #2193b0;
  padding: 3em 0;
}

#pets-saved {
  margin: 3em 0;

  h1 {
    color: #e4856d;
    font-size: 5em;
  }

  h2 {
    font-size: 38px;
    font-style: italic;
    letter-spacing: .7px;
  }

  h3 {
    color: #009694;
    font-size: 77px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2.9px;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  p {
    color: #485052;
    font-family: Muli;
    font-size: 21px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: .6px;
  }

  .block {
    border-left: solid 5px #e4856d;
    padding-left: 35px;
  }
}

#donate-form {
  background-color: #f0f0f0;
  padding: 2em 0;

  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .06);
    margin-bottom: 20px;
    padding: 20px;
  }
}