@import "../../app.component.scss";

/* ***** ADOPT STYLES ***** */
#adopt {
  margin: 3em 0;
}

/* ***** CONTACT US STYLES ***** */
#contact-us {
  background-color: #e4856d;
  color: $color-white;
  padding: 3em;
  text-align: center;
}

/* ***** PARTNERS STYLES ***** */
#partners {
  background-color: #2193b0;
  padding: 3em 0;
}
