@import "../app.component.scss";

.featurette-heading {
  background-color: $color-dark-cyan;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  color: $color-white;
  font-weight: 300;
  padding: 0.25em;
  width: 52%;
}

#photo-statement, #services {
  margin-bottom: 3em;
  padding-top: 3em;

  .col-md-6 {
    padding: 0;
  }

  img {
    width: 100%;
  }
}

#photo-statement {
  .col-md-6:nth-child(2) {
    background-color: $color-orange-red;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
}

#services {
  .col-md-6:nth-child(2) {
    background-color: $color-dark-cyan;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }

  .service-container {
    display: flex;

    h4 {
      font-size: 2.5em;
    }

    i {
      font-size: 4em;
      padding: 0 32px;
    }
  }
}

/* ***** ABOUT US STYLES ***** */
#about-us {
  margin: 3em 0;
}

/* ***** CONTACT US STYLES ***** */
#contact-us {
  background-color: #e4856d;
  color: $color-white;
  padding: 3em;
  text-align: center;
}

/* ***** PARTNERS STYLES ***** */
#partners {
  background-color: #2193b0;
  padding: 3em 0;
}