<app-hero></app-hero>
<section id="about-us">
  <div class="container">
    <app-section-header [sectionTitle]="headersAbout"></app-section-header>
    <app-who-we-are></app-who-we-are>
  </div>
</section>

<section id="photo-statement">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/berkay-gumustekin-ngqyo2AYYnE-unsplash.jpg" alt="Photo by Berkay Gumustekin on Unsplash">
    </div>
    <div class="col-md-6">
      <div>
        <h2>Our Mission</h2>
        <h3>To save and enhance lives – both two-legged and four-legged!</h3>
      </div>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <app-section-header [sectionTitle]="team"></app-section-header>
    <app-team></app-team>
  </div>
</section>

<!-- <section id="services">
  <div class="row">
    <div class="col-md-6">
      <p>Services</p>
      <h2>Lorem ipsum, dolor sit amet consectetur</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur perspiciatis dolorum ducimus, voluptatibus perferendis ratione veniam ipsa nihil laborum sed!</p>
    </div>
    <div class="col-md-6">
      <div class="service-container">
        <i class="fas fa-dog"></i>
        <div>
          <h4>Title</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur perspiciatis dolorum ducimus, voluptatibus perferendis
            ratione veniam ipsa nihil laborum sed!</p>
        </div>
      </div>
      <div class="service-container">
        <i class="fas fa-cat"></i>
        <div>
          <h4>Title</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur perspiciatis dolorum ducimus, voluptatibus perferendis
            ratione veniam ipsa nihil laborum sed!</p>
        </div>
      </div>
      <div class="service-container">
        <i class="fas fa-dog"></i>
        <div>
          <h4>Title</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur perspiciatis dolorum ducimus, voluptatibus perferendis
            ratione veniam ipsa nihil laborum sed!</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="contact-us">
  <div class="container">
    <app-contact></app-contact>
  </div>
</section>

<section id="partners">
  <div class="container">
    <app-section-header [sectionTitle]="headersPartners"></app-section-header>
  </div>

  <div class="partners">
    <app-partners></app-partners>
  </div>
</section>