<app-hero></app-hero>
<section id="about-us">
  <div class="container">
    <app-section-header [sectionTitle]="headersAbout"></app-section-header>
    <app-who-we-are></app-who-we-are>
  </div>
</section>

<section id="photo-statement">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/img/berkay-gumustekin-ngqyo2AYYnE-unsplash.jpg" alt="">
    </div>
    <div class="col-md-6">
      <div>
        <h2>Our Mission</h2>
        <h3>To save and enhance lives – both two-legged and four-legged!</h3>
      </div>
    </div>
  </div>
</section>