@import "../app.component.scss";

.featurette-heading {
  background-color: $color-dark-cyan;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  color: $color-white;
  font-weight: 300;
  padding: 0.25em;
  width: 52%;
}

#photo-statement {
  margin-bottom: 3em;
  padding-top: 3em;

  .col-md-6 {
    padding: 0;
  }

  .col-md-6:nth-child(2) {
    background-color: $color-orange-red;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }

  img {
    width: 100%;
  }
}