<!-- <app-section-header [sectionTitle]="headersPet(pet.name)"></app-section-header> -->

<section id="pet">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ pet.img }}" alt="{{ pet.alt }}" class="img-fluid mb-2" />
        <h3 class="featurette-heading">{{ pet.name }}</h3>
        <blockquote class="blockquote">
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          </p>
          <footer class="blockquote-footer">
            Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
        <p>
          {{ pet.desc }}
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Breed:
          <span>{{ pet.breed }}</span>
        </p>
        <p>
          Sex:
          <span>{{ pet.sex }}</span>
        </p>
        <p>
          Age:
          <span>{{ pet.age }} approx</span>
        </p>
        <p>Arrived: April 01, 2019</p>

        <div class="adopt-pet">
          <button class="btn btn-primary">Adoption Application</button>
          <button class="btn btn-primary">Foster Application</button>
          <button class="btn btn-primary">Make a Donation</button>
        </div>

        <hr />
        <div class="container social-container-header">
          <div class="row">
            <div class="col">Share</div>
          </div>
          <div class="social-container-body">
            <div class="row">
              <div class="col-3">
                <a href="#!">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="col-3">
                <a href="#!">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
              <div class="col-3">
                <a href="#!">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="col-3">
                <a href="#!">
                  <i class="far fa-envelope-open"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="adopt">
  <div class="container">
    <app-section-header [sectionTitle]="headersPet"></app-section-header>
  </div>

  <div class="pets">
    <app-pet-card [pets]="otherPets"></app-pet-card>
  </div>
</section>

<section id="contact-us">
  <div class="container">
    <app-contact></app-contact>
  </div>
</section>

<section id="partners">
  <div class="container">
    <app-section-header [sectionTitle]="headersPartners"></app-section-header>
  </div>

  <div class="partners">
    <app-partners></app-partners>
  </div>
</section>