@import "../../app.component.scss";

/* ***** ADOPT STYLES ***** */
#adopt {
  background-color: #f0f0f0;
  padding: 3em 0;
}

/* ***** CONTACT US STYLES ***** */
#contact-us {
  background-color: #e4856d;
  color: $color-white;
  padding: 3em;
  text-align: center;
}

/* ***** PARTNERS STYLES ***** */
#partners {
  background-color: #2193b0;
  padding: 3em 0;
}

#pet {
  margin: 2em 0;
}

.adopt-pet {
  display: flex;
  justify-content: space-evenly;
}

.featurette-heading {
  background-color: #2193b0;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  color: #fff;
  font-weight: 300;
  padding: 0.25em;
  width: 52%;
}

#pet .blockquote,
#pet .blockquote-footer {
  color: $color-orange-red;
}

.social-container-header {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}

.social-container-body {
  background-color: #79e17b;
  margin: 0.5em 1em 0 1em;
  padding: 1.3rem;
  transform: scale(1.07) skewX(-15deg);
}

.social-container-body i {
  transform: scale(1.07) skewX(15deg);
}