@import "../../app.component.scss";

.adopt-pet {
  display: flex;
  justify-content: space-evenly;
}

.featurette-heading {
  background-color: #2193b0;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  color: #fff;
  font-weight: 300;
  padding: 0.25em;
  width: 52%;
}

#pet .blockquote,
#pet .blockquote-footer {
  color: $color-orange-red;
}

.social-container {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}
