@import "../app.component.scss";

/* ***** HERO IMAGE STYLES ***** */
.hero-home {
  background-image: linear-gradient(
      to right bottom,
      rgba(109, 213, 237, 0.7),
      rgba($color-dark-cyan, 0.7)
    ),
    url("../../assets/img/main-hero.jpg");
  /* Add Photo Credit: Photo by Krista Mangulsone on Unsplash */
  /* https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1450&q=80 */
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  /* The clip-path property uses x, y coordinates, starting from top left, top right, bottom right, bottom left */
  height: 95vh;
  /* At every point, the height of the .header element should be 95% of the viewport height */
  position: relative;
}

.hero-dog {
  background-image: linear-gradient(
      to right bottom,
      rgba(109, 213, 237, 0.7),
      rgba($color-dark-cyan, 0.7)
    ),
    url("../../assets/img/kevin-quezada-558350-unsplash-min.jpg");
  /* Add Photo Credit: Photo by Kevin Quezada on Unsplash  */
  /* https://images.unsplash.com/photo-1518578436155-409d8e7b991b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&dl=kevin-quezada-558350-unsplash.jpg */
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 95vh;
  position: relative;
}

.hero-cat {
  background-image: linear-gradient(
      to right bottom,
      rgba(109, 213, 237, 0.7),
      rgba($color-dark-cyan, 0.7)
    ),
    url("../../assets/img/japheth-mast-Ga6z9QD8yvw-unsplash.jpg");
  /* Add Photo Credit: Photo by Japheth Mast on Unsplash */
  /* https://images.unsplash.com/photo-1501743029101-21a00d6a3fb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80 */
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 95vh;
  position: relative;
}

.hero-about {
  background-image: linear-gradient(
      to right bottom,
      rgba(109, 213, 237, 0.7),
      rgba($color-dark-cyan, 0.7)
    ),
    url("../../assets/img/berkay-gumustekin-ngqyo2AYYnE-unsplash.jpg");
  /* Photo by Berkay Gumustekin on Unsplash */
  /* https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80 */
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 95vh;
  position: relative;
}

.hero-donate {
  background-image: linear-gradient(
      to right bottom,
      rgba(109, 213, 237, 0.7),
      rgba($color-dark-cyan, 0.7)
    ),
    url("../../assets/img/adam-griffith-sWkkIiTJMYc-unsplash.jpg");
  /* Photo by Adam Griffith on Unsplash */
  /* https://images.unsplash.com/photo-1507682520764-93440a60e9b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80 */
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 95vh;
  position: relative;
}

.hero-container {
  position: absolute;
  top: 50%; /* This is 50% of the height of the parent element */
  left: 50%; /* This is 50% of the width of the parent element */
  transform: translate(-50%, -50%);
  /* This is 40% for y coordinate and 50% for the x coordinate in relation to the element and not the element's parent */
}

.hero-header {
  color: $color-white;
  text-transform: uppercase;
}

.hero-main {
  animation: fadeInUp 1s ease-out;
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 15px;
  text-align: center;
}

.hero-sub {
  animation: fadeIn 2s ease-out;
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 6px;
  text-align: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
