<div>
  <app-navigation></app-navigation>
  <app-hero></app-hero>
  <section id="about-us">
    <div class="container">
      <app-section-header [sectionTitle]="headersAbout"></app-section-header>

      <div class="row d-flex align-items-center">
        <div class="col-md-7">
          <h2 class="featurette-heading">Who We Are</h2>
          <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>
          <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>
        </div>
        <div class="col-md-5">
          <img
            src="../assets/img/main-about.jpg"
            alt="Photo by Laula &amp; Co on Unsplash"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="make-a-difference">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pr-md-0">
          <app-dynamic-type></app-dynamic-type>
        </div>
        <div class="col-md-6 pl-md-0">
          <img
            src="../assets/img/make-a-difference.jpg"
            alt="Photo by Yerlin Matu on Unsplash"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="best-friend">
    <app-best-friend></app-best-friend>
  </section>

  <section id="adopt">
    <div class="container">
      <app-section-header [sectionTitle]="headersAdopt"></app-section-header>
    </div>

    <div class="pets">
      <app-pet-card [pets]="pets"></app-pet-card>
    </div>
  </section>
</div>
