@import "../../app.component.scss";

.featurette-heading {
  background-color: #2193b0;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  color: #fff;
  font-weight: 300;
  padding: 0.25em;
  width: 52%;
}

.btn-adopt {
  width: 100%;
}

.btn-adopt:hover {
  background-color: $color-dark-cyan;
  border-color: $color-dark-cyan;
}

.card-text:nth-child(even) {
  margin-bottom: 0;
}
