<div class="row d-flex align-items-center">
  <div class="col-md-7">
    <h2 class="featurette-heading">Who We Are</h2>
    <p class="lead">
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
      ligula porta felis euismod semper. Praesent commodo cursus magna, vel
      scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
    <p class="lead">
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
      ligula porta felis euismod semper. Praesent commodo cursus magna, vel
      scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="../assets/img/main-about.jpg"
      alt="Photo by Laula &amp; Co on Unsplash"
      class="img-fluid"
    />
  </div>
</div>