@import "../app.component.scss";

.header-about,
.header-content,
.header-partners,
.header-team,
.header-pet {
  text-align: center;
  padding-bottom: 3em;
}

.header-content > h2 {
  padding-top: 48px;
}

.header-partners > h2 {
  color: #fff;
}

.header-about h2::after,
.header-content h2::after,
.header-partners h2::after,
.header-team h2:after,
.header-pet h2:after {
  content: " ";
  display: block;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
}

.header-about h2::after,
.header-content h2::after,
.header-team h2:after,
.header-pet h2:after {
  background-color: $color-dark-cyan;
}

.header-partners h2::after {
  background-color: #fff;
}
