@import "../app.component.scss";

.card {
  .card-body {
    background: linear-gradient(to right, $color-dark-cyan 50%, white 50%);
    background-color: $color-dark-cyan;
    background-position: right bottom;
    background-size: 200% 100%;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    color: #fff;
    padding: 5px;
    position: absolute;
    opacity: 0;
    transition: all .6s ease-out;
    width: 85%;

    h5, p {
      margin-bottom: 0;
    }
  }

  &:hover {
    .card-body {
      background-position: left bottom;
      opacity: .8;
    }
  }
}