<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let teamMember of teamMembers">
      <div class="card mb-4">
        <img src="{{ teamMember.img }}" alt="{{ teamMember.alt }}" class="img-fluid" />
        <div class="card-body">
          <h5 class="card-title featurette-heading">{{ teamMember.firstName }}</h5>
          <p class="card-text">{{ teamMember.title }}</p>
          <p class="card-text">{{ teamMember.phoneExt }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

