<app-hero></app-hero>
<section id="about-us">
  <div class="container">
    <app-section-header [sectionTitle]="headersAbout"></app-section-header>
    <app-who-we-are></app-who-we-are>
  </div>
</section>

<section id="make-a-difference">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-md-0">
        <app-dynamic-type></app-dynamic-type>
      </div>
      <div class="col-md-6 pl-md-0">
        <img
          src="../assets/img/make-a-difference.jpg"
          alt="Photo by Yerlin Matu on Unsplash"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<section id="best-friend">
  <app-best-friend></app-best-friend>
</section>

<section id="adopt">
  <div class="container">
    <app-section-header [sectionTitle]="headersAdopt"></app-section-header>
  </div>

  <div class="pets">
    <app-pet-card [pets]="pets"></app-pet-card>
  </div>
</section>

<section id="quote">
  <div class="container blockquote-container">
    <blockquote class="blockquote">
      <h2 class="mb-0">
        "Pets are humanizing. They remind us we have an obligation and
        responsibility to preserve and nurture and care for all life."
      </h2>
      <footer class="blockquote-footer">
        <cite title="Source Title">James Cromwell</cite>
      </footer>
    </blockquote>
  </div>
</section>

<section id="get-involved">
  <div class="container">
    <app-section-header
      [sectionTitle]="headersGetInvolved"
    ></app-section-header>
  </div>

  <div class="get-involved">
    <app-get-involved-card
      [getInvolvedData]="getInvolvedData"
    ></app-get-involved-card>
  </div>
</section>

<section id="partners">
  <div class="container">
    <app-section-header [sectionTitle]="headersPartners"></app-section-header>
  </div>

  <div class="partners">
    <app-partners></app-partners>
  </div>
</section>
