<app-hero></app-hero>

<!-- <section id="best-friend">
  <app-best-friend></app-best-friend>
</section> -->

<section id="adopt">
  <div class="container">
    <app-section-header [sectionTitle]="headersAdopt"></app-section-header>
  </div>

  <div class="pets">
    <app-pet-card [pets]="pets"></app-pet-card>
  </div>
</section>

<!-- <section id="get-involved">
  <div class="container">
    <app-section-header
      [sectionTitle]="headersGetInvolved"
    ></app-section-header>
  </div>

  <div class="get-involved">
    <app-get-involved-card
      [getInvolvedData]="getInvolvedData"
    ></app-get-involved-card>
  </div>
</section> -->

<!-- <section id="partners">
  <div class="container">
    <app-section-header [sectionTitle]="headersPartners"></app-section-header>
  </div>

  <div class="partners">
    <app-partners></app-partners>
  </div>
</section> -->
