<app-hero></app-hero>

<section id="adopt">
  <div class="container">
    <app-section-header [sectionTitle]="headersAdopt"></app-section-header>
  </div>

  <div class="pets">
    <app-pet-card [pets]="pets"></app-pet-card>
  </div>
</section>

<section id="contact-us">
  <div class="container">
    <app-contact></app-contact>
  </div>
</section>

<section id="partners">
  <div class="container">
    <app-section-header [sectionTitle]="headersPartners"></app-section-header>
  </div>

  <div class="partners">
    <app-partners></app-partners>
  </div>
</section>
