@import "../../app.component.scss";

.btn-adopt {
  width: 100%;
}

.btn-adopt:hover {
  background-color: $color-dark-cyan;
  border-color: $color-dark-cyan;
}

.card-text:nth-child(even) {
  margin-bottom: 0;
}
